<h1>Listing tipogastos</h1>

<table>
  <thead>
    <tr>
      <th>Tga desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipogastos.each do |tipogasto| %>
      <tr>
        <td><%= tipogasto.tga_desc %></td>
        <td><%= link_to 'Show', tipogasto %></td>
        <td><%= link_to 'Edit', edit_tipogasto_path(tipogasto) %></td>
        <td><%= link_to 'Destroy', tipogasto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipogasto', new_tipogasto_path %>
