<%= form_for(@subrubro) do |f| %>
  <% if @subrubro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subrubro.errors.count, "error") %> prohibited this subrubro from being saved:</h2>

      <ul>
      <% @subrubro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-inline" role="form">

    <div id="form-new" class="form-group has-success has-feedback">
      <%= f.text_field :sru_desc, :placeholder => "Ingrese la Descripcion del Sub-Rubro...", :class=>"form-control", autofocus: true %>
    </div>

    <div id="form-new" class="form-group has-success has-feedback">
      <%= f.collection_select(:rubro_id, Rubro.all, :id, :rub_desc, {:prompt => 'Seleccione un Rubro...'}, {:style=>'width:100%', :class=>"form-control"}) %>
    </div>

    <div class="actions">
      <%= f.submit "Confirmar", :class => "btn btn-primary" %>
      <%= link_to 'Ir Atras', subrubros_path, class: "btn btn-primary" %>
      <%- if @vMostrarBorrar %>
        <%= link_to 'Borrar', @subrubro, method: :delete, data: { confirm: 'Esta seguro que desea borrar este Sub-Rubro?' }, :id => "boton-borrar", :class => "btn btn-primary" %>
      <% end -%>
    </div>

  </form>

<% end %>
