<p id="notice"><%= notice %></p>

<p>
  <strong>Sru desc:</strong>
  <%= @subrubro.sru_desc %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @subrubro.rubro %>
</p>

<%= link_to 'Edit', edit_subrubro_path(@subrubro) %> |
<%= link_to 'Back', subrubros_path %>
