<%= form_for(@rubro, html: {class: "form-horizontal"}) do |f| %>
  <% if @rubro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rubro.errors.count, "error") %> prohibited this rubro from being saved:</h2>

      <ul>
      <% @rubro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<form class="form-inline" role="form">

  <div id="form-new" class="form-group has-success has-feedback">
    <%= f.text_field :rub_desc, :placeholder => "Ingrese la descripcion del Rubro...", :class=>"form-control", autofocus: true %>
  </div>

  <div id="form-new" class="form-group has-success has-feedback">
    <%= f.label "El rubro suma?" %>
    <%= f.check_box :rub_suma, :id=>"campo-checkbox", :class=>"form-control" %>
  </div>

</form>

  <div class="actions">
    <%= f.submit "Confirmar", :class => "btn btn-primary" %>
    <%= link_to 'Ir Atras', rubros_path, class: "btn btn-primary" %>
    <%- if @vMostrarBorrar %>
      <%= link_to 'Borrar', @rubro, method: :delete, data: { confirm: 'Esta seguro que desea borrar este rubro?' }, :id => "boton-borrar", :class => "btn btn-primary" %>
    <% end -%>
  </div>

<% end %>
