<p id="notice"><%= notice %></p>

<p>
  <strong>Rub desc:</strong>
  <%= @rubro.rub_desc %>
</p>

<p>
  <strong>Rub suma:</strong>
  <%= @rubro.rub_suma %>
</p>

<%= link_to 'Edit', edit_rubro_path(@rubro) %> |
<%= link_to 'Back', rubros_path %>
