<div class="page-header">
  <h3><u>Todos los Movimientos</u></h3>
</div>

<table  id="tabla-movimientos" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Rubro</th>
      <th>Sub-rubro</th>
      <th>Importe</th>
      <th>Tipo-Mov</th>
      <th>Tipo-Gasto</th>
      <th>Forma-pago</th>
      <th>Observaciones</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @movimientos.each do |vMovimiento| %>
      <tr>
        <td id="columna-fecha"><%= vMovimiento.mov_fecha.day.to_s %>-<%= vMovimiento.mov_fecha.month .to_s %></td>
<!--        <td><%= vMovimiento.mov_lote %></td> -->
        <td id="columna-fecha"> <% @tmprubros = Rubro.find(vMovimiento.subrubro.rubro_id) %>
             <%= @tmprubros.rub_desc %> </td>
        <td id="columna-mmb"><%= vMovimiento.subrubro.sru_desc %></td>
        <td id="columna-mmb"><%= vMovimiento.mov_importe %></td>
        <td><%= vMovimiento.tipomov.tmo_desc %></td>
        <td><%= vMovimiento.tipogasto.tga_desc %></td>
        <td id="columna-mmb"><%= vMovimiento.formapago.fpa_desc %></td>
        <td><%= vMovimiento.mov_obs %></td>
        <td id="columna-mmb"><%= link_to 'Modificar', edit_movimiento_path(vMovimiento) %></td>
<!--        <td><%= vMovimiento.usuario.usu_nombre %></td> 
        <td id="columna-mmb"><%= link_to 'Mostrar', vMovimiento %></td>
        <td id="columna-mmb"><%= link_to 'Borrar', vMovimiento, method: :delete, data: { confirm: 'Estas seguro que queres Borrar?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nuevo Movimiento', new_movimiento_path, class: "btn btn-primary" %>

