<h1>Listing movimientos</h1>

<table>
  <thead>
    <tr>
      <th>Mov fecha</th>
      <th>Mov importe</th>
      <th>Mov obs</th>
      <th>Mov lote</th>
      <th>Subrubro</th>
      <th>Tipogasto</th>
      <th>Tipomov</th>
      <th>Formapago</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos.each do |movimiento| %>
      <tr>
        <td><%= movimiento.mov_fecha %></td>
        <td><%= movimiento.mov_importe %></td>
        <td><%= movimiento.mov_obs %></td>
        <td><%= movimiento.mov_lote %></td>
        <td><%= movimiento.subrubro %></td>
        <td><%= movimiento.tipogasto %></td>
        <td><%= movimiento.tipomov %></td>
        <td><%= movimiento.formapago %></td>
        <td><%= movimiento.usuario %></td>
        <td><%= link_to 'Show', movimiento %></td>
        <td><%= link_to 'Edit', edit_movimiento_path(movimiento) %></td>
        <td><%= link_to 'Destroy', movimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movimiento', new_movimiento_path %>
