<% if user_signed_in? %>
	
	<div class="row">
	  <div class="col-md-2">
			<br/>
	    <%= link_to "Nueva Consulta", new_query_path, remote: true, class: "btn btn-primary" %>
	  </div>
	
		<div class="col-md-8">
		  <h3><u>Estadisticas de Movimientos</u></h3>
		</div>

	</div>

	<br/><br/><br/>

	<div class="row">
	  <div id="filters-form" class="col-md-6">
	  </div>
	</div>

	<div class="row">
		<div class="col-md-4 img-thumbnail" style="background-image: url('<%= image_path("madera02.jpg") %>');background-size: 100% 100%;">
			<br/>
			<table class="table table-hover table-condensed">
			  <thead>
					<tr>
					  <h3 style="color: white"><b>... por Rubros</b></h>
					</tr>
					<br/>
			    <tr>
			      <th>Rubro</th>
			      <th class="right">Importe</th>
			    </tr>
			  </thead>
			  <tbody id="product-index-RU">
					<%= render "indexRU" %>
			  </tbody>
			</table>
			<br/><br/><br/><br/><br/>
		</div>

		<div class="col-md-6  img-thumbnail" style="background-image: url('<%= image_path("madera02.jpg") %>');background-size: 100% 100%;">
			<br/>
			<table class="table table-hover table-condensed">
			  <thead>
					<tr>
					  <h3 style="color: white"><b>... por Rubros y SubRubros</b></h>
					</tr>
					<br/>
			    <tr>
			      <th>Rubro</th>
			      <th>Sub-Rubro</th>
			      <th class="right">Importe</th>
			    </tr>
			  </thead>
			  <tbody id="product-index-SR">
					<%= render "indexSR" %>
			  </tbody>
			</table>
			<br/><br/><br/><br/><br/>
		</div>
	</div><br/><br/><br/>

	<div class="row">
		<div class="col-md-4 img-thumbnail" style="background-image: url('<%= image_path("madera02.jpg") %>');background-size: 100% 100%;">
			<br/>
			<table class="table table-hover table-condensed">
			  <thead>
					<tr>
					  <h3 style="color: white"><b>... por Tipos de Gasto</b></h>
					</tr>
					<br/>
			    <tr>
			      <th>Tipo de Gasto</th>
			      <th class="right">Importe</th>
			    </tr>
			  </thead>
			  <tbody id="product-index-TG">
					<%= render "indexTG" %>
			  </tbody>
			</table>
			<br/><br/><br/><br/><br/>
		</div>

		<div class="col-md-6 img-thumbnail" style="background-image: url('<%= image_path("madera02.jpg") %>');background-size: 100% 100%;">
			<br/>
			<table class="table table-hover table-condensed">
			  <thead>
					<tr>
					  <h3 style="color: white"><b>... por Tipos de Movimiento</b></h>
					</tr>
					<br/>
			    <tr>
			      <th>Tipo de Movimiento</th>
			      <th class="right">Importe</th>
			    </tr>
			  </thead>
			  <tbody id="product-index-TM">
					<%= render "indexTM" %>
			  </tbody>
			</table>
			<br/><br/><br/><br/><br/>
		</div>
	</div><br/><br/><br/>
<%else%>
	<div class="page-header">
	  <h3><u>Usuario no ingreso al Sistema.</u></h3>
	</div>
<%end%>

