<!DOCTYPE html>
<html>
<head>
  <title>Gastos</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div id="Contenedor-menu-interno" class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">eGastos</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
  			<li><%= link_to "Estadisticas", estadisticas_index_path %> </li>
        <li><%= link_to "Movimientos", movimientos_path %> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tablas<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-inverse" role="menu">
            <li><%= link_to "TipoGasto", tipogastos_path %> </li>
            <li><%= link_to "TipoMov", tipomovs_path %> </li>
            <li><%= link_to "FormaPago", formapagos_path %> </li>
            <li class="divider"></li>
            <li><%= link_to "Rubros", rubros_path %> </li>
            <li><%= link_to "SubRubros", subrubros_path %> </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.nombre_completo, edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <%else%>
          <li><%= link_to "Registrarse", new_user_registration_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <%end%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="Contenedor-general" class="container"> 
    <div class="alert alert-info" role="alert" style="margin-top: 20px;width: 572px;">
        <p>Mensaje del Sistema: <%= notice %></p>
<!--      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>    -->
    </div>

		<%= yield %>
		<br><br>
</div>

</body>

</html>


